http_interactions:
- request:
    method: get
    uri: https://power.larc.nasa.gov/cgi-bin/v1/DataAccess.py
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: |
        {
         "messages": [
          {
           "Alert": {
            "Description": {
             "Issue": "Input request type is not allowed. Please reference our API Documentation at https://power.larc.nasa.gov for more information."
            }
           }
          }
         ]
        }
  recorded_at: 2019-01-03 06:29:28 GMT
  recorded_with: vcr/0.2.0, webmockr/0.2.9
- request:
    method: get
    uri: https://power.larc.nasa.gov/cgi-bin/v1/DataAccess.py?request=execute&identifier=SinglePoint&parameters=T2M_MAX,T2M_MIN,ALLSKY_SFC_SW_DWN,PRECTOT&startDate=19850101&endDate=19851231&userCommunity=AG&tempAverage=DAILY&outputList=CSV&lon=151.81&lat=-27.48&user=nasapower
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: "{\n \"features\": [\n  {\n   \"geometry\": {\n    \"coordinates\":
        [\n     151.81001, \n     -27.47999, \n     434.55\n    ], \n    \"type\":
        \"Point\"\n   }, \n   \"properties\": {\n    \"parameter\": {\n     \"ALLSKY_SFC_SW_DWN\":
        {\n      \"19850101\": 30.96, \n      \"19850102\": 30.89, \n      \"19850103\":
        33.19, \n      \"19850104\": 32.69, \n      \"19850105\": 23.04, \n      \"19850106\":
        24.59, \n      \"19850107\": 26.78, \n      \"19850108\": 25.09, \n      \"19850109\":
        31.82, \n      \"19850110\": 32.47, \n      \"19850111\": 32.69, \n      \"19850112\":
        30.17, \n      \"19850113\": 33.52, \n      \"19850114\": 33.01, \n      \"19850115\":
        32.87, \n      \"19850[...]
