http_interactions:
- request:
    method: get
    uri: https://power.larc.nasa.gov/cgi-bin/v1/DataAccess.py
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: |
        {
         "messages": [
          {
           "Alert": {
            "Description": {
             "Issue": "Input request type is not allowed. Please reference our API Documentation at https://power.larc.nasa.gov for more information."
            }
           }
          }
         ]
        }
  recorded_at: 2019-01-03 06:28:58 GMT
  recorded_with: vcr/0.2.0, webmockr/0.2.9
- request:
    method: get
    uri: https://power.larc.nasa.gov/cgi-bin/v1/DataAccess.py?request=execute&identifier=SinglePoint&parameters=T2M&startDate=19830101&endDate=19830101&userCommunity=AG&tempAverage=DAILY&outputList=ICASA&lon=151.81&lat=-27.48&user=nasapower
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: "{\n \"features\": [\n  {\n   \"geometry\": {\n    \"coordinates\":
        [\n     151.81001, \n     -27.47999, \n     434.55\n    ], \n    \"type\":
        \"Point\"\n   }, \n   \"properties\": {\n    \"parameter\": {\n     \"ALLSKY_SFC_SW_DWN\":
        {\n      \"19830101\": -99.0\n     }, \n     \"PRECTOT\": {\n      \"19830101\":
        9.09\n     }, \n     \"RH2M\": {\n      \"19830101\": 75.12\n     }, \n     \"T2M\":
        {\n      \"19830101\": 24.61\n     }, \n     \"T2MDEW\": {\n      \"19830101\":
        19.92\n     }, \n     \"T2M_MAX\": {\n      \"19830101\": 31.38\n     }, \n
        \    \"T2M_MIN\": {\n      \"19830101\": 19.97\n     }, \n     \"WS2M\": {\n
        \     \"19830101\": 2.81\n     }\n    }\n   }, \n   \"type\": \"Feature\"\n
        \ }\n ], \n \"header\": {\n  \"api_version\": \"1.1.0\", \n  \"endDate\":
        \"19830101\", \n  \"fillValue\": \"-99\", \n  \"startDate\": \"19830101\",
        \n  \"title\": \"NASA/POWER SRB/FLASHFlux/MERRA2/GEOS 5.12.4 (FP-IT) 0.5 x
        0.5 Degree Daily Averaged Data\"\n }, \n \"messages\": [], \n \"outputs\":
        {\n  \"icasa\": \"https://power.larc.nasa.gov/downloads/POWER_SinglePoint_Daily_19830101_19830101_27d48S_151d81E_b8e2363e.txt\"\n
        }, \n \"parameterInformation\": {\n  \"ALLSKY_SFC_SW_DWN\": {\n   \"longname\":
        \"All Sky Insolation Incident on a Horizontal Surface\", \n   \"units\": \"MJ/m^2/day\"\n
        \ }, \n  \"PRECTOT\": {\n   \"longname\": \"Precipitation\", \n   \"units\":
        \"mm day-1\"\n  }, \n  \"RH2M\": {\n   \"longname\": \"Relative Humidity at
        2 Meters\", \n   \"units\": \"%\"\n  }, \n  \"T2M\": {\n   \"longname\": \"Temperature
        at 2 Meters\", \n   \"units\": \"C\"\n  }, \n  \"T2MDEW\": {\n   \"longname\":
        \"Dew/Frost Point at 2 Meters\", \n   \"units\": \"C\"\n  }, \n  \"T2M_MAX\":
        {\n   \"longname\": \"Maximum Temperature at 2 Meters\", \n   \"units\": \"C\"\n
        \ }, \n  \"T2M_MIN\": {\n   \"longname\": \"Minimum Temperature at 2 Meters\",
        \n   \"units\": \"C\"\n  }, \n  \"WS2M\": {\n   \"longname\": \"Wind Speed
        at 2 Meters\", \n   \"units\": \"m/s\"\n  }\n }, \n \"time\": [\n  [\n   \"Main
        OPeNDAP Requests:\", \n   1.2294771671295166\n  ], \n  [\n   \"Total Script:\",
        \n   18.765146017074585\n  ]\n ], \n \"type\": \"FeatureCollection\"\n}\n"
  recorded_at: 2019-01-03 06:28:58 GMT
  recorded_with: vcr/0.2.0, webmockr/0.2.9
