http_interactions:
- request:
    method: get
    uri: https://power.larc.nasa.gov/cgi-bin/v1/DataAccess.py
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {
         "messages": [
          {
           "Alert": {
            "Description": {
             "Issue": "Input request type is not allowed. Please reference our API Documentation at https://power.larc.nasa.gov for more information."
            }
           }
          }
         ]
        }
  recorded_at: 2020-09-23 11:03:19 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://power.larc.nasa.gov/cgi-bin/v1/DataAccess.py?request=execute&identifier=Regional&parameters=T2M&startDate=19830101&endDate=19830101&userCommunity=AG&tempAverage=DAILY&bbox=-55.5,112.5,-50.5,115.5&outputList=CSV&user=nasapower
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {
         "features": "The Regional Request tool does not return data parameters values by default in JSON format. If JSON output is required please specify JSON as the output type in your request and select the JSON file under outputs section. Please reference our API Documentation at https://power.larc.nasa.gov for more information.",
         "header": {
          "api_version": "1.1.0",
          "endDate": "19830101",
          "fillValue": "-99",
          "startDate": "19830101",
          "title": "NASA/POWER SRB/FLASHFlux/MERRA2/GEOS 5.12.4 (FP-IT) 0.5 x 0.5 Degree Daily Averaged Data"
         },
         "messages": [],
         "outputs": {
          "csv": "https://power.larc.nasa.gov/downloads/POWER_Regional_Daily_19830101_19830101_81d22222.csv"
         },
         "parameterInformation": {
          "T2M": {
           "longname": "Temperature at 2 Meters",
           "units": "C"
          }
         },
         "time": [
          [
           "Main OPeNDAP Requests:",
           0.38
          ],
          [
           "Total Script:",
           1.09
          ]
         ],
         "type": "FeatureCollection"
        }
  recorded_at: 2020-09-23 11:03:19 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
