http_interactions:
- request:
    method: get
    uri: https://power.larc.nasa.gov/cgi-bin/v1/DataAccess.py
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: |
        {
         "messages": [
          {
           "Alert": {
            "Description": {
             "Issue": "Input request type is not allowed. Please reference our API Documentation at https://power.larc.nasa.gov for more information."
            }
           }
          }
         ]
        }
  recorded_at: 2019-01-03 06:30:09 GMT
  recorded_with: vcr/0.2.0, webmockr/0.2.9
- request:
    method: get
    uri: https://power.larc.nasa.gov/cgi-bin/v1/DataAccess.py?request=execute&identifier=Regional&parameters=T2M&startDate=19830101&endDate=19830101&userCommunity=AG&tempAverage=DAILY&bbox=-55.5,112.5,-50.5,115.5&outputList=CSV&user=nasapower
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: "{\n \"features\": \"The Regional Request tool does not return data
        parameters values by default in JSON format. If JSON output is required please
        specify JSON as the output type in your request and select the JSON file under
        outputs section. Please reference our API Documentation at https://power.larc.nasa.gov
        for more information.\", \n \"header\": {\n  \"api_version\": \"1.1.0\", \n
        \ \"endDate\": \"19830101\", \n  \"fillValue\": \"-99\", \n  \"startDate\":
        \"19830101\", \n  \"title\": \"NASA/POWER SRB/FLASHFlux/MERRA2/GEOS 5.12.4
        (FP-IT) 0.5 x 0.5 Degree Daily Averaged Data\"\n }, \n \"messages\": [], \n
        \"outputs\": {\n  \"csv\": \"https://power.larc.nasa.gov/downloads/POWER_Regional_Daily_19830101_19830101_1cdea532.csv\"\n
        }, \n \"parameterInformation\": {\n  \"T2M\": {\n   \"longname\": \"Temperature
        at 2 Meters\", \n   \"units\": \"C\"\n  }\n }, \n \"time\": [\n  [\n   \"Main
        OPeNDAP Requests:\", \n   1.644317865371704\n  ], \n  [\n   \"Total Script:\",
        \n   6.944390058517456\n  ]\n ], \n \"type\": \"FeatureCollection\"\n}\n"
  recorded_at: 2019-01-03 06:30:09 GMT
  recorded_with: vcr/0.2.0, webmockr/0.2.9
