http_interactions:
- request:
    method: get
    uri: https://power.larc.nasa.gov/cgi-bin/v1/DataAccess.py
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: |
        {
         "messages": [
          {
           "Alert": {
            "Description": {
             "Issue": "Input request type is not allowed. Please reference our API Documentation at https://power.larc.nasa.gov for more information."
            }
           }
          }
         ]
        }
  recorded_at: 2019-01-03 06:36:15 GMT
  recorded_with: vcr/0.2.0, webmockr/0.2.9
- request:
    method: get
    uri: https://power.larc.nasa.gov/cgi-bin/v1/DataAccess.py?request=execute&identifier=Global&parameters=T2M&userCommunity=AG&tempAverage=CLIMATOLOGY&outputList=CSV&user=nasapower
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: "{\n \"features\": \"The Global Request tool does not return data parameters
        values by default in JSON format. If JSON output is required please specify
        JSON as the output type in your request and select the JSON file under outputs
        section. Please reference our API Documentation at https://power.larc.nasa.gov
        for more information.\", \n \"header\": {\n  \"api_version\": \"1.1.0\", \n
        \ \"fillValue\": \"-99\", \n  \"range\": \"30-year Meteorological and Solar
        Monthly & Annual Climatologies (January 1984 - December 2013), 22-year Additional
        Solar Parameter Monthly & Annual Climatologies (July 1983 - June 2005)\",
        \n  \"title\": \"NASA/POWER SRB/MERRA2 0.5 x 0.5 Degree Climatologies\"\n
        }, \n \"messages\": [], \n \"outputs\": {\n  \"csv\": \"https://power.larc.nasa.gov/downloads/POWER_Global_Climatology_77558edf.csv\"\n
        }, \n \"parameterInformation\": {\n  \"T2M\": {\n   \"longname\": \"Temperature
        at 2 Meters\", \n   \"units\": \"C\"\n  }\n }, \n \"time\": [\n  [\n   \"Main
        OPeNDAP Requests:\", \n   3.241657018661499\n  ], \n  [\n   \"Total Script:\",
        \n   26.405826091766357\n  ]\n ], \n \"type\": \"FeatureCollection\"\n}\n"
  recorded_at: 2019-01-03 06:36:15 GMT
  recorded_with: vcr/0.2.0, webmockr/0.2.9
