http_interactions:
- request:
    method: get
    uri: https://power.larc.nasa.gov/cgi-bin/v1/DataAccess.py
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {
         "messages": [
          {
           "Alert": {
            "Description": {
             "Issue": "Input request type is not allowed. Please reference our API Documentation at https://power.larc.nasa.gov for more information."
            }
           }
          }
         ]
        }
  recorded_at: 2020-09-23 11:03:16 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://power.larc.nasa.gov/cgi-bin/v1/DataAccess.py?request=execute&identifier=SinglePoint&parameters=T2M,T2M_MIN,T2M_MAX,RH2M,WS10M&startDate=19830101&endDate=19830101&userCommunity=SB&tempAverage=DAILY&outputList=CSV&lon=-179.5&lat=-89.5&user=nasapower
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {
         "features": [
          {
           "geometry": {
            "coordinates": [
             -179.49999,
             -89.49999,
             2938.4
            ],
            "type": "Point"
           },
           "properties": {
            "parameter": {
             "RH2M": {
              "19830101": 73.92
             },
             "T2M": {
              "19830101": -25.24
             },
             "T2M_MAX": {
              "19830101": -24.9
             },
             "T2M_MIN": {
              "19830101": -25.55
             },
             "WS10M": {
              "19830101": 2.14
             }
            }
           },
           "type": "Feature"
          }
         ],
         "header": {
          "api_version": "1.1.0",
          "endDate": "19830101",
          "fillValue": "-999",
          "startDate": "19830101",
          "title": "NASA/POWER SRB/FLASHFlux/MERRA2/GEOS 5.12.4 (FP-IT) 0.5 x 0.5 Degree Daily Averaged Data"
         },
         "messages": [],
         "outputs": {
          "csv": "https://power.larc.nasa.gov/downloads/POWER_SinglePoint_Daily_19830101_19830101_89d50S_179d50W_17a94c36.csv"
         },
         "parameterInformation": {
          "RH2M": {
           "longname": "Relative Humidity at 2 Meters",
           "units": "%"
          },
          "T2M": {
           "longname": "Temperature at 2 Meters",
           "units": "C"
          },
          "T2M_MAX": {
           "longname": "Maximum Temperature at 2 Meters",
           "units": "C"
          },
          "T2M_MIN": {
           "longname": "Minimum Temperature at 2 Meters",
           "units": "C"
          },
          "WS10M": {
           "longname": "Wind Speed at 10 Meters",
           "units": "m/s"
          }
         },
         "time": [
          [
           "Main OPeNDAP Requests:",
           0.28
          ],
          [
           "Total Script:",
           1.56
          ]
         ],
         "type": "FeatureCollection"
        }
  recorded_at: 2020-09-23 11:03:16 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
