http_interactions:
- request:
    method: get
    uri: https://power.larc.nasa.gov/cgi-bin/v1/DataAccess.py
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {
         "messages": [
          {
           "Alert": {
            "Description": {
             "Issue": "Input request type is not allowed. Please reference our API Documentation at https://power.larc.nasa.gov for more information."
            }
           }
          }
         ]
        }
  recorded_at: 2020-09-22 04:04:25 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://power.larc.nasa.gov/cgi-bin/v1/DataAccess.py?request=execute&identifier=Global&parameters=T2M&userCommunity=AG&tempAverage=CLIMATOLOGY&outputList=CSV&user=nasapower
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {
         "features": "The Global Request tool does not return data parameters values by default in JSON format. If JSON output is required please specify JSON as the output type in your request and select the JSON file under outputs section. Please reference our API Documentation at https://power.larc.nasa.gov for more information.",
         "header": {
          "api_version": "1.1.0",
          "fillValue": "-99",
          "range": "30-year Meteorological and Solar Monthly & Annual Climatologies (January 1984 - December 2013), 22-year Additional Solar Parameter Monthly & Annual Climatologies (July 1983 - June 2005)",
          "title": "NASA/POWER SRB/MERRA2 0.5 x 0.5 Degree Climatologies"
         },
         "messages": [],
         "outputs": {
          "csv": "https://power.larc.nasa.gov/downloads/POWER_Global_Climatology_54143d31.csv"
         },
         "parameterInformation": {
          "T2M": {
           "longname": "Temperature at 2 Meters",
           "units": "C"
          }
         },
         "time": [
          [
           "Main OPeNDAP Requests:",
           1.04
          ],
          [
           "Total Script:",
           10.51
          ]
         ],
         "type": "FeatureCollection"
        }
  recorded_at: 2020-09-22 04:04:25 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
