http_interactions:
- request:
    method: get
    uri: https://power.larc.nasa.gov/cgi-bin/v1/DataAccess.py
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: |
        {
         "messages": [
          {
           "Alert": {
            "Description": {
             "Issue": "Input request type is not allowed. Please reference our API Documentation at https://power.larc.nasa.gov for more information."
            }
           }
          }
         ]
        }
  recorded_at: 2019-01-03 06:29:54 GMT
  recorded_with: vcr/0.2.0, webmockr/0.2.9
- request:
    method: get
    uri: https://power.larc.nasa.gov/cgi-bin/v1/DataAccess.py?request=execute&identifier=SinglePoint&parameters=T2M,T2M_MIN,T2M_MAX,RH2M,WS10M&startDate=19830101&endDate=19830101&userCommunity=AG&tempAverage=DAILY&outputList=CSV&lon=-179.5&lat=-89.5&user=nasapower
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: "{\n \"features\": [\n  {\n   \"geometry\": {\n    \"coordinates\":
        [\n     -179.49999, \n     -89.49999, \n     2938.4\n    ], \n    \"type\":
        \"Point\"\n   }, \n   \"properties\": {\n    \"parameter\": {\n     \"RH2M\":
        {\n      \"19830101\": 73.92\n     }, \n     \"T2M\": {\n      \"19830101\":
        -25.24\n     }, \n     \"T2M_MAX\": {\n      \"19830101\": -24.9\n     },
        \n     \"T2M_MIN\": {\n      \"19830101\": -25.55\n     }, \n     \"WS10M\":
        {\n      \"19830101\": 2.14\n     }\n    }\n   }, \n   \"type\": \"Feature\"\n
        \ }\n ], \n \"header\": {\n  \"api_version\": \"1.1.0\", \n  \"endDate\":
        \"19830101\", \n  \"fillValue\": \"-99\", \n  \"startDate\": \"19830101\",
        \n  \"title\": \"NASA/POWER SRB/FLASHFlux/MERRA2/GEOS 5.12.4 (FP-IT) 0.5 x
        0.5 Degree Daily Averaged Data\"\n }, \n \"messages\": [], \n \"outputs\":
        {\n  \"csv\": \"https://power.larc.nasa.gov/downloads/POWER_SinglePoint_Daily_19830101_19830101_89d05S_179d05W_0d002876.csv\"\n
        }, \n \"parameterInformation\": {\n  \"RH2M\": {\n   \"longname\": \"Relative
        Humidity at 2 Meters\", \n   \"units\": \"%\"\n  }, \n  \"T2M\": {\n   \"longname\":
        \"Temperature at 2 Meters\", \n   \"units\": \"C\"\n  }, \n  \"T2M_MAX\":
        {\n   \"longname\": \"Maximum Temperature at 2 Meters\", \n   \"units\": \"C\"\n
        \ }, \n  \"T2M_MIN\": {\n   \"longname\": \"Minimum Temperature at 2 Meters\",
        \n   \"units\": \"C\"\n  }, \n  \"WS10M\": {\n   \"longname\": \"Wind Speed
        at 10 Meters\", \n   \"units\": \"m/s\"\n  }\n }, \n \"time\": [\n  [\n   \"Main
        OPeNDAP Requests:\", \n   1.1861519813537598\n  ], \n  [\n   \"Total Script:\",
        \n   14.296876907348633\n  ]\n ], \n \"type\": \"FeatureCollection\"\n}\n"
  recorded_at: 2019-01-03 06:29:54 GMT
  recorded_with: vcr/0.2.0, webmockr/0.2.9
